@font-face {
  font-family: 'Laila-bold';
  src:  url('../fonts/laila-bold-webfont.woff2') format('woff2'),
        url('../fonts/laila-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Laila';
  src:  url('../fonts/laila-regular-webfont.woff2') format('woff2'),
        url('../fonts/laila-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-light';
  src:  url('../fonts/lato-light-webfont.woff2') format('woff2'),
        url('../fonts/lato-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Lato';
  src:  url('../fonts/lato-regular-webfont.woff2') format('woff2'),
        url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}