
:root {
  --primary-color: #520058;
  --secondary-color: black;
  --font-family: 'Lato', sans-serif;
}
html, body {
  height: 100%; /* Make the body take the full height of the viewport */
  margin: 0;    /* Remove default margin */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  font-family: var(--font-family);
}

a {
  color: rgb(66, 66, 66);
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none; 
  padding: 0;      
  margin: 0;        
}

li {
  list-style: none;
}
